#sectionOne {
    background-color: white;
    padding: 20px;
}

h3 {
    color: blue;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

